<!doctype html>
{% extends 'base1.html' %}



{% block content %}
<br><br>
    <h1>User List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Contact Number</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
